[credential "https://github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[user]
  name = Ali Mohammadzadeh
  email = ali.mohamadza@gmail.com
[core]
	editor = nvim
	autocrlf = input
[color]
	ui = true
[init]
	defaultBranch = main
[diff]
	tool = nvimdiff
[http]
	proxy = http://localhost:2081
[https]
	proxy = https://localhost:2081
[pull]
	ff = only
